<div id="<%= dom_id aquarium %>">
  <p>
    <strong>Size:</strong>
    <%= aquarium.size %>
  </p>

  <p>
    <strong>Water type:</strong>
    <%= aquarium.water_type %>
  </p>

  <p>
    <strong>Filter:</strong>
    <%= aquarium.filter %>
  </p>

  <p>
    <strong>Plants:</strong>
    <%= aquarium.plants %>
  </p>

  <p>
    <strong>User:</strong>
    <%= aquarium.user_id %>
  </p>

</div>
