<h1 class="text-center underline underline-offset-4 text-3xl font-medium mb-4">Welcome back!</h1>

<div class="block max-w-sm rounded-lg bg-white p-6 shadow-lg dark:bg-neutral-700" >
  <%= form_with do |form| %>
    <div class="dark:text-teal-900">
    <%= form.label :email, style: "display: block"  %>
    <%= form.text_field :email, style: "display: block"  %>
    </div>
    <div class="dark:text-teal-900">
      <%= form.label :password, style: "display: block"  %>
      <%= form.password_field :password%>
    </div>
    <button class="text-xs inline-block rounded bg-teal-700 dark:bg-teal-500 px-3 " type="button" >
      <%= form.submit "Login" %>
    </button>
    
  <% end %>
</div>

