<h1 class="text-center underline underline-offset-4 text-3xl font-medium mb-4">Welcome!</h1>
<%#catch errors%>
<% if @user.errors.any? %>
  <div class="text-orange-400">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved: </h2>

    <ul>
    <% @user.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="block max-w-sm mx-auto rounded-lg bg-white p-6 shadow-lg dark:bg-neutral-700" >
  <%= form_with(model: @user) do |form| %>
      <%= form.label :name, "Username", style: "display: block"  %>
      <%= form.text_field :name, class:  "dark:text-teal-900 w-full" %>
      <%= form.label :email, style: "display: block"  %>  
      <%= form.text_field :email, class:  "dark:text-teal-900 w-full" %>
      <%= form.label :password, style: "display: block"  %>  
      <%= form.password_field :password, class:  "dark:text-teal-900 w-full" %>
    <button type="button" >
      <%= form.submit 'Sign Up', {:class => "text-xs inline-block rounded bg-teal-700 dark:bg-teal-500 px-3 pt-2 pb-1.5 mt-1.5 self-end  "} %>
    </button>
    
  <% end %>
</div>

