<h1 class="text-center underline underline-offset-4 text-3xl font-medium mb-4">Welcome!</h1>
<%#catch errors%>
<% if @user.errors.any? %>
  <div class="text-orange-400">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved: </h2>

    <ul>
    <% @user.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="block max-w-sm rounded-lg bg-white p-6 shadow-lg dark:bg-neutral-700" >
  <%= form_with(model: @user) do |form| %>
    <div class="dark:text-teal-900">
      <%= form.label :name, style: "display: block"  %>
      <%= form.text_field :name %>
    </div>
    <div class="dark:text-teal-900">
      <%= form.label :email, style: "display: block"  %>  
      <%= form.text_field :email %>
    </div>
    <div class="dark:text-teal-900">
      <%= form.label :password, style: "display: block"  %>  
      <%= form.password_field :password %>
    </div>
    <%= form.submit 'Sign Up' %>
  <% end %>
</div>

