<h1 class="text-center underline underline-offset-4 text-3xl font-medium mb-4"><%=@user.name%>'s Aquariums</h1>

<div id="aquariums" class="grid lg:grid-cols-3 md:grid-cols-2 gap-y-4 ml-10">
<% @user_aquariums.each do |aquarium|%>

  <div class="w-auto mx-auto">
    <img src="https://img.clipartlook.com/easy-free-clipart-aquarium-clipart-191_165.gif" alt="Aquarium image">
    <p class="text-xl"><%= aquarium.size %> gallon </p>
    <p class="text-lg"><%= aquarium.water_type%> aquarium</p>
    <p class="text-sm">Owner: <%= link_to "#{aquarium.user.name}", @user %></p>
    <%# TODO: actually link to a User page for other users, so you can look at other pages? %>
      <button  type="button" >
        <%= link_to "See Details", aquarium, {:class => "text-xs inline-block rounded bg-teal-700 dark:bg-teal-500 px-3 pt-2 pb-1.5 mt-1.5 self-end  "} %>
      </button>
  </div>

  <% end %>
</div>
