<header class="sticky top-0 z-10 bg-teal-700 text-white dark:bg-teal-400">
  <section class="mx-auto flex max-w-4xl items-center justify-between p-4">
    <h1 class="text-3xl font-medium"> <%= link_to 'Aquatanks ðŸ ', root_path %> </h1>
    <div>
      <button
            id="hamburger-button"
            class="relative h-8 w-8 cursor-pointer text-3xl md:hidden"
          >
    <div
              class="translation-all absolute top-4 -mt-0.5 h-1 w-8 rounded bg-white duration-500 before:absolute before:h-1 before:w-8 before:-translate-x-4 before:-translate-y-3 before:rounded before:bg-white before:transition-all before:duration-500 before:content-[''] after:absolute after:h-1 after:w-8 after:-translate-x-4 after:translate-y-3 after:rounded after:bg-white after:transition-all after:duration-500 after:content-['']"
            ></div>
          </button>
    </div>


  </section>

</header> 




<%= link_to 'See All Fish', fishes_path %>
<% if logged_in? %>
  <%= link_to 'Aquariums', aquariums_path %>
  <%= link_to 'My Aquariums', user_path(current_user) %>
  <%= link_to 'Create new Aquarium', new_aquarium_path %>
  <%= link_to 'Logout', logout_path, data:{"turbo-method": :delete} %>
<% else %>
  <%= link_to 'Login', login_path %>
  <%= link_to 'Sign Up', sign_up_path %>
<% end %>
