<p>Volume: <%= aquarium.size%> gallons</p>
<p>Salinity: <%= aquarium.water_type%></p>
<p>Filter Style: <%= aquarium.filter %></p>
<p>Live plants? <%= aquarium.plants %></p>



<% if current_user == aquarium.user %>
  <%= link_to "Edit", edit_aquarium_path(aquarium) %>
  <%= button_to "Delete", @aquarium, method: :delete %>
<% end %>
