<%= form_with(model: @aquarium) do |form| %>
  <% if aquarium.errors.any? %>
    <div class="text-orange-400">
      <h2><%= pluralize(aquarium.errors.count, "error") %> prohibited this aquarium from being saved:</h2>

      <ul>
        <% aquarium.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <div>
    <%= form.label :size, "Tank Volume (gallons)", style: "display: block" %>
    <%= form.number_field :size %>
  </div>

  <div>
    <%= form.label :water_type, "Water type/salinity", style: "display: block" %>
    <%= form.select :water_type, ["Freshwater", "Saltwater", "Brackish Water"] %>
  </div>

  <div>
    <%= form.label :filter, "Filter Style", style: "display: block" %>
    <%= form.select :filter, ["Box (Corner/Internal)", "Canister", "Diatomic", "Fluidized Bed", "Power (Hang-on-Back)", "Sponge", "Under-Gravel", "Wet/Dry (Trickle)", "Other"] %>
  </div>

  <div>
    <%= form.label :plants, "Aquascaping", style: "display: block" %>
    <%= form.select :plants, [["Live plants", true], ["Artificial or none", false]] %>
  </div>

  <div>
    <%= form.label :filter, "Substrate", style: "display: block" %>
    <%= form.select :filter, ["Aquarium Sand", "Gravel", "Pebbles", "Pelletized Soil", "Dirt or Clay", "Bare-bottom", "Other"] %>
  </div>

  <%# <div> %>
    <%#= form.label :user_id, style: "display: block" %>
    <%#= form.text_field :user_id %>
  <%# </div> %>


  <div>
    <%= form.submit %>
  </div>
<% end %>
