<p style="color: green"><%= notice %></p>

<%= render @aquarium %>

<div>
  <%= link_to "Edit this aquarium", edit_aquarium_path(@aquarium) %> |
  <%= link_to "Back to aquariums", aquariums_path %>

  <%= button_to "Destroy this aquarium", @aquarium, method: :delete %>
</div>
