<div>
  <p>Fish Facts:</p>
  <p>Name(s): <%= fish.common_name %></p>
  <p>Taxonomy: <%= fish.taxonomic_name %></p>
  <img src="<%= fish.image_url %>" alt="#{fish.name}">
  <p>Size: <%= fish.size %></p>
  <p>Add'l info: <%= fish.other_remarks %></p>
</div>

