<div id="<%= dom_id fish %>">
  <p>
    <strong>Common name:</strong>
    <%= fish.common_name %>
  </p>

  <p>
    <strong>Taxonomic name:</strong>
    <%= fish.taxonomic_name %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= fish.image_url %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= fish.size %>
  </p>

  <p>
    <strong>Other remarks:</strong>
    <%= fish.other_remarks %>
  </p>

</div>
