<%= form_with(model: fish) do |form| %>
  <% if fish.errors.any? %>
    <div class="text-orange-400">
      <h2><%= pluralize(fish.errors.count, "error") %> prohibited this fish from being saved:</h2>

      <ul>
        <% fish.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="dark:text-teal-900">
    <%= form.label :common_name, style: "display: block" %>
    <%= form.text_field :common_name %>
  </div>

  <div class="dark:text-teal-900">
    <%= form.label :taxonomic_name, style: "display: block" %>
    <%= form.text_field :taxonomic_name %>
  </div>

  <div class="dark:text-teal-900">
    <%= form.label :image_url, style: "display: block" %>
    <%= form.text_field :image_url %>
  </div>

  <div class="dark:text-teal-900">
    <%= form.label :size, style: "display: block" %>
    <%= form.text_field :size %>
  </div>

  <div class="dark:text-teal-900">
    <%= form.label :other_remarks, style: "display: block" %>
    <%= form.text_field :other_remarks %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
