<p style="color: green"><%= notice %></p>

<%= render @fish %>

<div>
  <%= link_to "Edit this fish", edit_fish_path(@fish) %> |
  <%= link_to "Back to fishes", fishes_path %>

  <%= button_to "Destroy this fish", @fish, method: :delete %>
</div>
